@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#167df3;
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #e9e2e3;
    padding-left: 30rem;
}

section {
    margin: 5rem;
}
   /* Header Part */

header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:rgb(58, 57, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}

header .follow {
    margin-top: 4rem;
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

   /* hidden menu  */

   #menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}


   /* Introduction Part */


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
   
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
    margin-left: 2rem;
    
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
   
}

.home .content h3{
    font-size: 4.5rem;
    color:#111;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}


.home .content .info{
    font-size: 2.5rem;
    color:#111;
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}
 
/* About Section */

.about .heading{
    margin-top: 10rem;
    font-size: 4rem;
    margin-left: 2%;
}
.about #post {
    color: var(--main-color);
    font-size: 2rem;
}
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width:78%;
  
    object-fit: cover;
    border:1rem solid #fff;
    border-radius: .5rem;
    border-radius: 10%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    flex:1 1 50rem;
    margin-left: -3rem;
    
}

.about .row-1 .content h3{
    color:#333;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    text-align:justify;
    color:#666;
    
    font-size: 1.7rem;
    padding:.5rem 0;
}
.about .row-1 .content .btn{
    background-color: #167df3;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 200%;
   
    color: #e9e2e3;
    border-radius: 10px;
    
}
.about .row-1 .content .btn:hover{
    color:#e9e2e3 ;
    background-color: #3c91f3;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}
.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row-2 .skills{
    flex:1 1 40rem;
}

.about .row-2 .skills .progress{
    padding:1rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:95%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:90%;
}

.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:#fff;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.about .row-1 .content a {
    font-size: 3rem;
    margin: 1rem;
}

.about .row-1 .content a:hover{
   color:var(--main-color);
}

    /* experience and content */
    .service .heading{
        margin-top: 10rem;
        font-size: 4rem;
        margin-left: 2%;
    }
    .service .box-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap:5.5rem 3.5rem;
    }
    
    .service .box-container .box{
    
            flex: 1 1 13rem;
            text-align: center;
            padding: 1rem;
            background: #fff;
            border-radius: 1.9rem;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    }
    
    .service .box-container .box i{
        height:6rem;
        width:6rem;
        line-height: 6rem;
        font-size: 2.5rem;
        color:#fff;
        background:var(--main-color);
        border-radius: 50%;
    }
    
    .service .box-container .box h3{
        color:#444;
        font-size: 2.2rem;
        padding-top: 1rem;
    }
    
    .service .box-container .box p{
        color:#666;
        font-size: 1.7rem;
        padding-top: .5rem;
    }
    
       /* experience */

      /* .experience {
        margin-left: 2rem;
      }  */
    .experience .box-container{
        display: grid;
        flex-wrap: wrap;
    
    }
    
    .experience .box-container .box{
        position: relative;
        flex:1 1 33rem;
        border-left: .2rem solid var(--main-color);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;    
    }
    
    .experience .box-container .box::before{
        content: '';
        position: absolute;
        top:0; left:-1rem;
        height:2rem;
        width:2rem;
        border-radius: 50%;
        background:var(--main-color);
    }

    .experience .heading{
        margin-top: 10rem;
        font-size: 4rem;
        margin-left: 2%;
    }
    
    .experience .box-container .box .content{
        background:#fff;
        padding:1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }
    .experience .box-container .box .content span{
        color:#fff;
        font-size: 1.7rem;
        background:var(--main-color);
        border-radius: 50rem;
        padding:.4rem 1rem;
    }
    
    .experience .box-container .box .content h3{
        font-size: 2.5rem;
        padding:.5rem 0;
        color:#111;
    }
    
    .experience .box-container .box .content p{
        font-size: 1.5rem;
        color:#666;
    }
    
    .project .box-container{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
    }
    
    .project .box-container .box{
        flex:1 1 30rem;
        height:55rem;
        position: relative;
        overflow:hidden;
        border:1rem solid #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        background:#fff;
        border-radius: .5rem;
    }
    
    .project .box-container .box img{
        height:70%;
        width:100%;
        object-fit: cover;
        border-radius: .5rem;
        position: relative;
        z-index: 1;
    }
    
    .project .box-container .box:hover img{
        height:70%;
        width:82%;
    }
    
    .project .box-container .box h3{
        position: absolute;
        bottom:.5rem; left:1rem;
        font-size: 2.5rem;
        color:#333;
        text-transform: uppercase;
    }
    
    .project .box-container .box .icons{
        position: absolute;
        top:1rem; right:1rem;
    }
    
    .project .box-container .box .icons a{
        display: block;
        height:4rem;
        width:4rem;
        border-radius: .5rem;
        background: #eee;
        color:#333;
        font-size: 1.7rem;
        line-height: 4rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .project .box-container .box .icons a:hover{
        background:var(--main-color);
        color:#fff;
    }

     /* contect */
    
     .contact .heading{
        margin-top: 10rem;
        font-size: 4rem;
        margin-left: 2%;
    }
    .contact .icons-container{
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }
    
    .contact .icons-container .icons{
        flex:1 1 25rem;
        text-align: center;
        padding:2rem;
        background:#fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }
    
    .contact .icons-container .icons i{
        height:5rem;
        width:5rem;
        line-height: 5rem;
        font-size: 2rem;
        background: var(--main-color);
        color:#fff;
        border-radius: 50%;
    }
    
    .contact .icons-container .icons h3{
        color:#111;
        font-size: 2rem;
        padding:.5rem 0;
        padding-top: 1rem;
    }
    
    .contact .icons-container .icons p{
        color:#666;
        font-size: 1.7rem;
    }
    
    .contact .row{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
    }
    
    .contact .row form{
        flex:1 1 55rem;
        background:#fff;
        padding:0 2rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }
    
    .contact .row .map{
        flex:1 1 25rem;
        border:1rem solid #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
        width: 100%;
        height: 40rem;
    }
    
    .contact .row form .box,
    .contact .row form textarea{
        width: 100%;
        border-bottom: .1rem solid #333;
        color:#333;
        text-transform: none;
        font-size: 1.7rem;
        padding:1rem 0;
        margin:1rem 0;
    }
    
    .contact .row form .box:focus,
    .contact .row form textarea:focus{
        border-color: var(--main-color);
    }
    
    .contact .row form .box::placeholder,
    .contact .row form textarea::placeholder{
        text-transform: capitalize;
    }
    
    .contact .row form textarea{
        height: 20rem;
        resize: none;
    }
    
    .contact .row form .btn{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .my2{
        margin-top: 40px;
    }
    /* .project{
        height: 40vh;
    } */
    
    .footer{
        margin-top: 2rem;
        font-size: 2rem;
        padding:2.5rem;
        text-align: center;
        color:#666;
        background: #fff;
    }
    
    .footer span{
        color:var(--main-color);
    }
    
    /*  start here */
    .newbox{
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: #fff;
        box-shadow:  0 30px 60px rgba(0,0,0,.2);
    
    }
     .percent{
        position: relative;
        height: 150px;
        width: 150px;
    
    }
     .percent svg{
        position: relative;
        width: 150px;
        height: 150px;
    }
     .percent svg circle{
        width: 150px;
        height: 150px;
        fill:  none;
        stroke-width: 10;
        stroke: #000;
        transform: translate(5px,5px);
        stroke-dasharray: 440;
        stroke-dashoffset:440;
        stroke-linecap: round;
    }
    .percent svg circle:nth-child(1){
        stroke-dashoffset: 0;
        stroke: #f3f3f3;
    
    }
    .percent svg circle:nth-child(2){
        stroke-dashoffset: 0;
        stroke:#167df3;
        
    }
     .percent .number{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;
    }
    .percent .number h2{
        font-size: 35px;
    
    }
    .tech-heading{
        font-weight: bold;
        color: #444;
    }
     .percent .number h2 span{
        font-size: 14px;
    }
     .text{
        padding: 10px 0 0;
        color: #999;
        font-weight: 700;
        letter-spacing: 1p;
    
    }
    /* .tech{
        width: 100px;
        height: 100px;
    } */
    
    /* .project{
        height: 40rem;
    } */
    
    .iconpic{
        object-fit: cover;
    }
    

 /* project section */
 .project .heading{
    margin-top: 10rem;
    font-size: 4rem;
    margin-left: 2%;
}

 .project .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.project .box-container .box{
    flex:1 1 30rem;
    height:55rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}

.project .box-container .box img{
    height:70%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.project .box-container .box:hover img{
    height:70%;
    width:82%;
}

.project .box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2.5rem;
    color:#333;
    text-transform: uppercase;
}

.project .box-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
}

.project .box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #eee;
    color:#333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.project .box-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}



      /* media queries */

      /* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

}

:root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: #83baf8;
    --color-calendar-graph-day-L2-bg: #469cfd;
    --color-calendar-graph-day-L3-bg: #167df3;
    --color-calendar-graph-day-L4-bg: #077afd;
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  
  .calendar {
      font-family: Helvetica, arial;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      min-height: 243px;
      text-align: center;
      margin: 0 auto;
  }
  
  .calendar-graph text.wday,
  .calendar-graph text.month {
      font-size: 10px;
      fill: #aaa;
  }
  
  .contrib-legend {
      text-align: right;
      padding: 0 14px 10px 0;
      display: inline-block;
      float: right;
  }
  
  .contrib-legend .legend {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      position: relative;
      bottom: -1px;
      padding: 0;
  }
  
  .contrib-legend .legend li {
      display: inline-block;
      width: 10px;
      height: 10px;
  }
  
  .text-small {
      font-size: 12px;
      color: #767676;
  }
  
  .calendar-graph {
      padding: 5px 0 0;
      text-align: center;
  }
  
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      font-size: 11px;
  }
  
  .contrib-column-first {
      border-left: 0;
  }
  
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 24px;
      display: block;
      color: #333;
  }
  
  .calendar img.spinner {
      width: 70px;
      margin-top: 50px;
      min-height: 70px;
  }
  
  .monospace {
      text-align: center;
      color: #000;
      font-family: monospace;
  }
  
  .monospace a {
      color: #1D75AB;
      text-decoration: none;
  }
  
  .contrib-footer {
      font-size: 11px;
      padding: 0 10px 12px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      height: 26px;
  }
  
  .left.text-muted {
      float: left;
      margin-left: 9px;
      color: #767676;
  }
  .left.text-muted a {
      color: #4078c0;
      text-decoration: none;
  }
  .left.text-muted a:hover,
  .monospace a:hover {
      text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
      display: none;
  }
  
  .float-left.text-gray {
      float: left;
  }
  #user-activity-overview{
      display:none;
  }
  
  .day-tooltip {
      white-space: nowrap;
      position: absolute;
      z-index: 99999;
      padding: 10px;
      font-size: 12px;
      color: #959da5;
      text-align: center;
      background: rgba(0,0,0,.85);
      border-radius: 3px;
      display: none;
      pointer-events: none;
  }
  .day-tooltip strong {
      color: #dfe2e5;
  }
  .day-tooltip.is-visible {
      display: block;
  }
  .day-tooltip:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 5px;
      height: 5px;
      box-sizing: border-box;
      margin: 0 0 0 -5px;
      content: " ";
      border: 5px solid transparent;
      border-top-color: rgba(0,0,0,.85)
  }
  
  text.ContributionCalendar-label {
      fill: #ccc;
      font-size: 11px;
  }